In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols
from sklearn import metrics
from sklearn.model_selection import train_test_split
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 200)

In [2]:
df = pd.read_csv("csvs/merged-df.csv")

In [36]:
grad_dependents = ["grade9", "ell_percent", "sped_percent", "asian_per",
                   "black_per", "white_num", "hispanic_per", "white_per", "male_per", "only_hs"]

In [37]:
x_mega_train, x_holdout, y_mega_train, y_holdout = train_test_split(df[grad_dependents],
                                                    df["Toal Grads #"]/df["grade9"],
                                                    test_size=0.1)
x_train, x_test, y_train, y_test = train_test_split(x_mega_train,
                                                    y_mega_train,
                                                    test_size=0.2)

In [38]:
lm_grad = LinearRegression()

lm_grad.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
basic_y_prediction = lm_grad.predict(x_test)

basic_rmse = np.sqrt(metrics.mean_squared_error(y_test, basic_y_prediction))
print("basic rmse", basic_rmse)

basic rmse 2.854302486443132

In [40]:
lm_grad.coef_

array([-2.43393355e-03,  2.29601512e-02, -5.36241951e-03,  1.12191513e-01,
        8.96533042e-02,  1.08390485e-03,  7.71261560e-02,  7.38656760e-02,
       -6.45674759e-05,  5.04768902e-01])

In [41]:
from statsmodels.formula.api import ols
colnames = "+".join(filter(lambda x: x not in ["price",
                                               #"lat","long"
                                              ], x_train.columns))

full_train=pd.concat([y_train,x_train],axis=1).rename({0:"grad_per"},axis=1)
olsstr = "grad_per~"+colnames
lr_model = ols(formula=olsstr, data=full_train).fit()
#full_train

lr_model.summary()

In [55]:
percent_df = full_train[full_train["grad_per"]<=1]
plt.scatter(percent_df["black_per"],percent_df["grad_per"])

KeyError: 'black_num'

In [49]:
full_train.describe()

,grad_per,grade9,ell_percent,sped_percent,asian_per,black_per,white_num,hispanic_per,white_per,male_per,only_hs
count,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000
mean,1.124466,249.052819,11.415084,12.307517,8.567852,38.751752,107.312341,42.825343,8.286440,48.940934,0.806501
std,7.974962,304.165507,17.884521,6.736603,12.979096,24.828479,300.497319,23.366810,13.802067,13.065092,0.395141
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.800000,0.000000,0.000000,0.000000
25%,0.475728,98.000000,2.500000,8.000000,1.100000,20.700000,4.000000,21.000000,0.900000,43.200000,1.000000
50%,0.606269,129.000000,5.900000,12.500000,2.700000,33.600000,10.000000,45.400000,2.100000,49.100000,1.000000
75%,0.781955,222.000000,12.200000,16.800000,9.200000,52.700000,48.000000,61.200000,8.400000,54.300000,1.000000
max,195.000000,2005.000000,100.000000,45.800000,89.500000,96.500000,3181.000000,100.000000,82.300000,100.000000,1.000000